<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3 sidebar-sticky">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link " href="/bill/dashboard">
            <i class="bi bi-graph-up-arrow"></i>
            Thống kê
          </a>
        </li> 
        <li class="nav-item">
          <a class="nav-link " aria-current="page" href="/product">
            <i class="bi bi-box-seam"></i>
            Gói Premium
          </a>
        </li>
       
        <li class="nav-item">
          <a class="nav-link " href="/bill/?status=0">
            <i class="bi bi-receipt-cutoff"></i>
            Hóa đơn
          </a>
        </li> 
  
        <li class="nav-item">
          <a class="nav-link " href="/brand">
            <i class="bi bi-window-split"></i>
            Giao dịch người dùng
          </a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link " href="/type">
            <i class="bi bi-building-check"></i>
            Danh mục
          </a>
        </li> 
  
        <!-- <li class="nav-item">
          <a class="nav-link " href="/notification">
            <i class="bi bi-bell"></i>
            Thông báo
          </a>
        </li>  -->
  
        <!-- <li class="nav-item">
          <a class="nav-link " href="/banner">
            <i class="bi bi-journal-richtext"></i>
            Banner
          </a>
        </li>  -->
  
        <li class="nav-item">
          <a class="nav-link " href="/voucher">
            <i class="bi bi-tags"></i>
            Voucher
          </a>
        </li> 
  
        <li class="nav-item">
          <a class="nav-link " href="/user">
            <i class="bi bi-person-gear"></i>
            Người dùng
          </a>
        </li> 
  
        <li class="nav-item">
          <a class="nav-link " href="/user/logout">
            <i class="bi bi-box-arrow-right"></i>
            Đăng xuất
          </a>
        </li> 
      
      
      </ul>
    </div>
  </nav>