<div
  class="d-flex justify-content-between flex-wrap flex-md nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
>
  <h1 class="h2">Người dùng</h1>
  <div class="btn-toolbar mb-2 mb-md 0">
    <div class="btn-group me-2">

    </div>
  </div>
</div>

<div class="col py-3">
  <div class="row">
    <div class="col">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/user">Người dùng</a></li>
          <li class="breadcrumb-item active">người dùng mới</li>
        </ol>
      </nav>
    </div>
    <div class="col text-end fw-lighter">

    </div>
  </div>
</div>

<form action="/user/insert" method="POST">
  <div class="row form-group mb-4">
    <div class="col">
      <label for="firstName">Tài khoản</label>
      <input
        type="email"
        class="form-control"
        id="username"
        name="username"
        value=""
        placeholder="Tài khoản"
        required
      />
    </div>
  </div>

  <div class="row form-group mb-4">

    <div class="col">
      <label for="lastName">Mật khẩu</label>
      <input
        type="password"
        class="form-control"
        id="password"
        name="password"
        value=""
        placeholder="Mật khẩu"
        required
      />
    </div>
  </div>

  <div class="row form-group mb-4">
    <div class="col">
      <label for="tel">Họ và tên</label>
      <input
        type="text"
        class="form-control"
        id="fullname"
        name="fullname"
        value=""
        placeholder="Họ và tên"
        required
      />
    </div>

  </div>


  <div class="form-group mb-4">
    <button type="submit" class="btn btn-primary">Xác nhận</button>
  </div>
</form>
