<div style="margin-top: 50px;text-align: center;height: 500px;height: 500px; justify-content: center;"  >
     
    <h4 style="padding-top: 30px;padding-bottom: 30px;">Bạn có chắc chắn muốn đăng xuất?</h4>
    <a class="btn btn-primary" href="/user/logoutP">Đăng xuất</a>
   
</div>